<!DOCTYPE html>
<html>
  <body>
    Current Device is {{currentDevice}}
    {% for message in messages %}
      <p>From: {{message.origin_device.device_id}} : {{message.message}}</p>
    {% endfor %}
    <form action="{{ url_for('submit')}}" method="POST">
        <select name=devices>
          {% for device in available_devices %}
            <option value="{{device}}" SELECTED> {{device.device_id}}</option>
          {% endfor %}
        </select>
        <input type="text" name='message'>
        <input type="submit">
    </form>
  </body>
</html>
